/*FONTS SHEET*/
@font-face { 
    font-family: 'montserrat';
    src: url('fonts/montserrat/montserrat-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat/montserrat-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas-kai/Bebas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*general font sizing/typeface*/
body {
    font-family: 'montserrat',sans-serif;
    font-size: .875rem;
    color: #3D405B;
}

h1, h2{
    font-family: 'bebas','montserrat',sans-serif;
    color: #3D405B;
}
h3 {
    font-family: 'montserrat',sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #3D405B;
}

/*NAV BAR*/
/*logo*/
.logo {
     width:50px; 
    } 


nav .logo {
    display: block;
    float: left;
    padding: 1rem 1rem;
}

/*nav states*/
a {
    color: #3D405B;
    text-decoration: none;
}

a:hover {
    color:#84a59d;
    text-decoration: none;
}

/*nav style*/
nav {
    height: 90px;
    font-family: 'bebas','montserrat', sans-serif;
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    width: 100%;
}

/*nav not stacking vertical*/
ul.menu li {
    display: inline-flex; 
    margin-right: 10px;
}

ul.menu {
    float: right;
    padding: .6rem 1rem;
}

/*intro-frontpage*/
p.intro {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding: 5rem 1rem;
    background-color: #f7ede2;
    overflow-x: hidden;
}

/*Resume and About*/
.resume,.about{
    margin: 6.3rem 2.8rem;
    line-height: 1.3rem;
}
