/*fonts sheet*/
@font-face { 
    font-family: 'montserrat';
    src: url('fonts/montserrat/montserrat-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;    
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat/montserrat-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('fonts/bebas-kai/Bebas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: 'montserrat';
    font-size: .875rem;
}

h1, h2{
    font-family: 'bebas';
}
h3 {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 1rem;
}

/*logo*/
div.header_logo { width:70px; } 

/*nav states*/
a:link {color:cadetblue; }
a:hover { color:pink; }
a:active { color:rosybrown; }
a:visited { color:none }