/*FONTS SHEET*/
@font-face { 
    font-family: 'montserrat';
    src: url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}

@font-face { 
    font-family: 'montserrat';
    src: url('/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;    
}

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('/fonts/bebas/Bebas-Regular.woff2') format('woff2'),
    url('/fonts/bebas/Bebas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*general font sizing/typeface*/
body {
    font-family: 'montserrat',sans-serif;
    font-size: .875rem;
    color: #3D405B;
}
p.date {
    font-style: italic;
}

nav {
    font-family: 'bebas', 'montserrat', sans-serif;
    color: #3D405B;
}

h1, h2{
    font-family: 'bebas','montserrat',sans-serif;
    color: #3D405B;
}
h1 {
    font-size: 2.5rem;
}
h3 {
    font-family: 'montserrat',sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #3D405B;
}
/*css reset*/
body {
    padding: 0;
    margin: 0;
}

/*NAV BAR*/
/*logo*/
.logo {
     width:50px; 
    } 


nav .logo {
    display: block;
    float: left;
    padding: 1rem 1rem;
}

/*nav states*/
a {
    color: #3D405B;
    text-decoration: none;
}

a:hover {
    color:#84a59d;
    text-decoration: none;
}

/*nav style*/
nav {
    height: 90px;
    font-family: 'bebas','montserrat', sans-serif;
    font-size: 1.4rem;
    position: fixed;
    top: 0;
    width: 100%;
}

/*nav not stacking vertical*/
ul.menu li {
    display: inline-flex; 
    margin-right: 10px;
}

ul.menu {
    float: right;
    padding: .6rem 1.4rem;
}

/*intro-frontpage*/

div.intro {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.8rem;
    padding: 11.9rem 2.5rem;
    background-color: #f7ede2;
    background-size: cover;
    display: flex;
    justify-content: center;

}

/*Resume and About*/
.resume,.about{
    margin: 5rem 1.5rem;
    line-height: 1.3rem;
    max-width: 610px;
}
div.center {
    display:flex;
    justify-content: center;
}
.resumetext {
    display: inline-block;
}
